prometheus/alertmanager/conf/prod.alertmanager.yml
gitlab/root_password.txt
gitlab/gitlab_omniauth_providers.txt
caddy/conf/google-client.conf
elk/elastalert/smtp_auth_file
vscode-server/password.txt
