filebeat.autodiscover:
  providers:
    - type: docker
      hints.enabled: true

processors:
  - add_cloud_metadata: ~
  - add_docker_metadata: ~
  - add_locale:
      format: offset
  - add_host_metadata:
      netinfo.enabled: true

output.elasticsearch:
  hosts: ["${ELASTICSEARCH_HOST}:9200"]

setup.kibana:
  host: "${KIBANA_HOST}:5601"

xpack.monitoring:
  enabled: true
  elasticsearch: